body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

.inner-addon {
  position: relative;
}

.container.searchContainer{
     width: 90%;
}
.searchIcon{
    position: absolute;
    top: 39px;
    right: 14px;
    color: #666;
}
.form-inline .form-control.searchInp{
    width: 100%;
    margin-top:10px;
}
.otherInfo{
    margin-top:10px;
}
.otherInfo div{
    line-height:35px;
}

.name{
    font-size: initial;
    color: #cb202d;
    font-weight: 600;
    }
.cuisines{
        font-style: italic;
        font-size: 15px;
        color: darkslategray;
}

.rating{
    color: white;
    width: 40px;
    height: 33px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 2px;
}
.votes{
    line-height: 5px;
    color: lightslategray;
    font-size: 12px;
}

 .col-md-4.res_details{
        width: 18%;
}



fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }